body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}

#imagen-principal {
    width: 100%;
    max-height: auto;
}

.portada {
    position: relative;
}

.centro {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: white;
}

.imagatos {
    margin: 10px;
    padding: 45px;
}

section img {
    height: 500px;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container> div {
    width: 400px;
    margin: 5px;
}

.ilustraciones {
    position: relative;
    width: 100%;
    margin: 1px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: snow;
    overflow: hidden;
    height: 0;
    transition: .7s ease;
    border-radius: 10px;
}

.ilustraciones:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 0.8;
}
.ilustraciones:hover .frase {
    opacity: 2;
}

.frase {
    white-space: nowrap;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.imagen {
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: drop-shadow(8px 8px 10px gray);
}