
* {
    box-sizing: border-box;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #bbe1a5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-weight: bold;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #aecd91;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
   
  }
  }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    div{
        background-color: rgb(211, 125, 248);
        color:whitesmoke;
    }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    div{
        background-color: rgb(176, 71, 214);

    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    div{
        background-color: rgb(140, 34, 156);;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    div{

        background-color: rgb(106, 10, 137);;

    }
    
 }