body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: palevioletred;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
}

a {
    font-size: 50px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    text-align: center;
}