body {
    margin: 0;
    background-color: rgb(243, 231, 222) !important;
}

marquee {
    background-color: rgb(141, 122, 240);
    height: 100px;
    font-family: ivymode, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    color: rgb(234, 110, 172);
}

#espacio {
    background-color: rgb(243, 231, 222);
    height: 12px;
}

@media only screen and (max-width: 600px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        background-color: rgb(243, 231, 222) !important;
    }

    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .nav-link {
        color: rgb(255, 99, 21) !important;
    }

    .navbar-brand {
        color: rgb(255, 99, 21) !important;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .nav-link {
        color: rgb(255, 99, 21) !important;
    }

    .navbar-brand {
        color: rgb(255, 99, 21) !important;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .nav-link {
        color: rgb(255, 99, 21) !important;
        font-weight: bold !important;
        font-size: 200% !important;
    }

    .navbar-brand {
        color: rgb(255, 99, 21) !important;
        padding-right: 7% !important;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
    }

    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .nav-link {
        color: rgb(255, 99, 21) !important;
        font-weight: bold !important;
        font-size: 200% !important;
    }

    .navbar-brand {
        color: rgb(255, 99, 21) !important;
    }
}

@media only screen and (min-width: 1200px) {

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
    }

    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .nav-item {
        padding-right: 6% !important;
    }

    .nav-link {
        color: rgb(255, 99, 21) !important;
        font-weight: bold !important;
        font-size: 200% !important;
    }

    .nav-link:hover {
        color: rgb(234, 110, 172) !important;
        font-weight: bold !important;
        font-size: 200% !important;

    }

    .navbar-brand {
        color: rgb(255, 99, 21) !important;

    }
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 6%;
}

.flex-container div {
    position: relative;
    width: 400px;
}

.trabajos {
    padding-top: 3%;
}

.diseños {
    position: relative;
    width: 100%;
}

.imagen {
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 15px;
}