body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

img {
    max-height: auto;
    width: 100%;
}

.prueba {
    position: absolute;
    top: 30%;
    left: 20%;
}

.prueba li {
    font-size: 40px;
    display:inline;
}

.prueba a{
    text-decoration: none;
}

.text {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-weight: lighter;
    font-size: 30px;
    padding-top: 40px;
}

h2 {
    color: gray;
    font-size: 10pt;
    margin-bottom: 80px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

#part-1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#part-1 a{
    text-decoration: none;
    color: coral;
}

p {
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
}

.indice {
    list-style: none;
    background-color: black;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.indice li {
    color: paleturquoise;
    margin: auto;
    padding-bottom: 20px;
    font-weight: lighter;
}

.link1:hover {
    color: hotpink;
    text-decoration: underline;
    text-decoration: line-through;
}

.link2:hover {
    color: pink;
    text-decoration: underline;
}
